{% extends "base.html" %}

{% block content %}


<link rel="stylesheet"
      href="{{ url_for('static', filename='edit_subject.css') }}">

<div class="container">

<div class="card">

<h1>Edit Subject</h1>

<form method="POST">

<!-- YEAR -->
<div class="row">

<label>Year</label>

<input type="text"
name="year"
value="{{ subject.year }}">

</div>


<!-- SEMESTER -->
<div class="row">

<label>Semester</label>

<input type="number"
name="semester"
value="{{ subject.semester }}">

</div>


<!-- SECTION -->
<div class="row">

<label>Section</label>

<input type="text"
name="section"
value="{{ subject.section }}">

</div>


<!-- SUBJECT CODE -->
<div class="row">

<label>Subject Code</label>

<input type="text"
name="subject_code"
value="{{ subject.subject_code }}">

</div>


<!-- SUBJECT NAME -->
<div class="row">

<label>Subject Name</label>

<input type="text"
name="subject_name"
value="{{ subject.subject_name }}">

</div>


<!-- SUBJECT TYPE -->
<div class="row">

<label>Subject Type</label>

<select name="subject_type">

<option value="theory"
{% if subject.subject_type == "theory" %}
selected
{% endif %}
>
Theory
</option>

<option value="lab"
{% if subject.subject_type == "lab" %}
selected
{% endif %}
>
Lab
</option>

</select>

</div>


<!-- CREDIT -->
<div class="row">

<label>Credit</label>

<input type="number"
name="credit"
min="1"
max="5"
value="{{ subject.credit }}">

</div>


<button type="submit"
class="btn-main">

Update Subject

</button>

</form>

</div>

</div>

{% endblock %}