    {% extends "base.html" %}

    {% block content %}


    <link rel="stylesheet"
      href="{{ url_for('static', filename='teachers.css') }}">

    <div class="form-card">

        <h1>
            Teacher Routine
        </h1>

        <a href="/admin"
        class="back-btn">

            ← Back

        </a>

        <div class="teacher-container">

            {% for t in teachers %}

            <a href="/teacher_routine/{{ t.teacher_name }}"
            class="teacher-card">

                <h3>

                    {{ t.teacher_name }}

                </h3>

                <p>

                    {{ t.department }}

                </p>

            </a>

            {% endfor %}

        </div>

    </div>

    {% endblock %}